<div class="bg-gray page fullscreen d-flex align-items-center">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <h1 class="mt-0">Logo Here</h1>
                <h1 class="m-0 mb-1">How can we help you today?</h1>
                <p class="m-0">Select your concern with us to generate your queue number.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-3">
                <div class="card--shadow-1 py-5 text-center">
                    <h2 class="m-0 mb-1">IT</h2>
                    <p class="sm-text m-0">
                        Information Technology Department
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card--shadow-1 p-5 text-center">
                    <h2 class="m-0 mb-1">Finance</h2>
                    <p class="sm-text m-0">
                        Finance Department
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card--shadow-1 p-5 text-center">
                    <h2 class="m-0 mb-1">Security</h2>
                    <p class="sm-text m-0">
                        Security Department
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card--shadow-1 p-5 text-center">
                    <h2 class="m-0 mb-1">Support</h2>
                    <p class="sm-text m-0">
                       Customer Support
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="card--shadow-1 p-5 text-center">
                    <h2 class="m-0 mb-1">New Account</h2>
                    <p class="sm-text m-0">
                        Applying for a new Account
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card--shadow-1 p-5 text-center">
                    <h2 class="m-0 mb-1">Insurance</h2>
                    <p class="sm-text m-0">
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card--shadow-1 p-5 text-center">
                    <h2 class="m-0 mb-1">Pay Bills</h2>
                    <p class="sm-text m-0">
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card--shadow-1 p-5 text-center">
                    <h2 class="m-0 mb-1">Others</h2>
                    <p class="sm-text m-0">
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>